<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Protótipo ESP32
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/bt.png" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Protótipo</ion-card-subtitle>
      <ion-card-title>ESP32 + NFC + Bluetooth LE + Ionic</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Esse aplicativo é apenas um protótipo para leitura de saldo de cartões transporte utilizando microcontrolador
        ESP32 e tecnologias NFC / Bluetooth LE</p>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Tecnologias</ion-label>
    </ion-list-header>
    <ion-item href="https://www.espressif.com/en/products/hardware/esp32/overview">
      <ion-icon slot="start" color="medium" name="grid"></ion-icon>
      <ion-label>ESP32</ion-label>
    </ion-item>
    <ion-item href="https://www.bluetooth.com">
      <ion-icon slot="start" color="medium" name="bluetooth"></ion-icon>
      <ion-label>Bluetooth</ion-label>
    </ion-item>
    <ion-item
      href="https://www.rohde-schwarz.com/hk/technologies/wireless-connectivity/rfid-nfc/rfid-nfc-technology/rfid-nfc-technology_55704.html">
      <ion-icon slot="start" color="medium" name="card"></ion-icon>
      <ion-label>NFC</ion-label>
    </ion-item>
  </ion-list>
</ion-content>